<div class="p-6 text-center">
    <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mx-auto mb-4">
        <mat-icon class="text-blue-500 scale-150">check_circle</mat-icon>
    </div>
    <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ 'logout.title' | translate }}</h2>
    <p class="text-gray-600 mb-6">
        {{ 'logout.description' | translate }}
    </p>
    <button mat-flat-button color="primary" class="w-full !py-6" mat-dialog-close>
        {{ 'logout.continue' | translate }}
    </button>
</div>