<section>
  <div class="flex justify-between mx-10 mr-30 items-center overflow-y-auto">
    <h1 class="text-2xl font-bold">{{'team.users.title'| translate }}</h1>
    <button matRipple (click)="openInviteDialog()" class="px-s bg-accent text-white! py-s! rounded-m! font-bold! cursor-pointer transition-all hover:brightness-110 active:scale-95 flex items-center justify-center gap-2">{{'team.users.btn-invite' | translate }}</button>
  </div>

  <div class="user-dashboard flex mx-20 flex-col">
    <div class="stats flex w-full mt-10 gap-7">
      <div class="card p-5 shadow-md/20 gap-2 flex-1 flex-col grow py-6 flex">
        <p class="text-divider">{{'team.users.stats.active' | translate}}</p>
        <h1 class="text-4xl">{{this.teamStore.totalActiveUsers()}}</h1>
      </div>
      <div class="card p-5 shadow-md/20 gap-2 flex-1 flex-col grow py-6 flex">
        <p>{{'team.users.stats.managers' | translate}}</p>
        <h1 class="text-4xl">{{this.teamStore.totalManagers()}}</h1>
      </div>
      <div class="card p-5 shadow-md/20 gap-2 flex-1 flex-col grow py-6 flex">
        <p>{{'team.users.stats.logistics' | translate}}</p>
        <h1 class="text-4xl">{{this.teamStore.totalLogistics()}}</h1>
      </div>
      <div class="card p-5 shadow-md/20 gap-2 flex-1 flex-col grow py-6 flex">
        <p>{{'team.users.stats.clients' | translate}}</p>
        <h1 class="text-4xl">{{this.teamStore.totalClients()}}</h1>
      </div>
    </div>

    <div class="info flex w-full gap-7 mt-8">
      <div class="info-role flex-3 shadow-md/20 p-7 w-full">
        <div class="flex justify-between">
          <h2 class="text-2xl font-medium">{{'team.users.assigned-roles.title' | translate}}</h2>
          <mat-form-field class="w-96" appearance="outline">
            <mat-label>{{'team.users.assigned-roles.search-user' | translate}}</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input
              type="text"
              matInput
              [formControl]="searchControl"
              placeholder="{{'team.users.assigned-roles.input-placeholder' | translate}}"
            />
            @if (searchControl.value){
              <button
                matSuffix
                mat-icon-button
                (click)="clearSearch()"
                aria-label="Limpiar"
                class="text-gray-400 hover:text-gray-600"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </div>

        <div class="user-table mt-10">
          <div class="table-header grid grid-cols-4 border-b justify-center">
            <div class="w-full flex justify-center"><h2 class="text-xl">{{'team.users.assigned-roles.user-tab' | translate}}</h2></div>
            <div class="w-full flex justify-center"><h2 class="text-xl">{{'team.users.assigned-roles.email-tab' | translate}}</h2></div>
            <div class="w-full flex justify-center"><h2 class="text-xl">{{'team.users.assigned-roles.assigned-role-tab' | translate}}</h2></div>
            <div class="w-full flex justify-center"><h2 class="text-xl">{{'team.users.assigned-roles.action-tab' | translate}}</h2></div>
          </div>

          <div class="table-body max-h-120 overflow-y-scroll">
            <div class="grid grid-cols-4 p-3 border-b hover:bg-gray-50 pl-5">
              <div class="flex justify-start items-center gap-3">
                <div class="w-8 h-8 rounded-full bg-accent/10 flex items-center justify-center text-accent font-semibold text-sm">
                  {{ getInitials(this.currentUser().fullName) }}
                </div>
                <div>
                    <span class="font-medium">
                      {{ this.currentUser().fullName }}
                        <span class="text-xs text-gray-500 ml-1">({{'team.users.assigned-roles.user-profile-you' | translate}})</span>
                    </span>
                </div>
              </div>
              <div class="flex justify-start text-gray-600 pl-5">
                {{ this.currentUser().email }}
              </div>
              <div class="flex justify-center">
                  <span [class]="getRoleBadgeClass(this.currentUser().role)">
                    {{ getRoleTranslation(this.currentUser().role) }}
                  </span>
              </div>



            </div>
            @for (user of teamStore.filteredUsers(); track user.id) {
              <div class="grid grid-cols-4 p-3 border-b hover:bg-gray-50 pl-5">
                <div class="flex justify-start items-center gap-3">
                  <div class="w-8 h-8 rounded-full bg-accent/10 flex items-center justify-center text-accent font-semibold text-sm">
                    {{ getInitials(user.fullName) }}
                  </div>
                  <div>
                    <span class="font-medium">
                      {{ user.fullName }}
                    </span>
                  </div>
                </div>
                <div class="flex justify-start text-gray-600 pl-5">
                  {{ user.email }}
                </div>
                <div class="flex justify-center">
                  <span [class]="getRoleBadgeClass(user.role)">
                    {{ getRoleTranslation(user.role) }}
                  </span>
                </div>

                @if (user.isActive){
                  <div class="flex justify-center pl-5">
                    <button
                      class="text-red-600 hover:text-red-800 hover:bg-red-50 font-medium text-sm transition-all duration-200 px-3 py-1 cursor-pointer rounded-md"
                      (click)="this.teamStore.toggleUserStatus(user)"
                    >
                      {{'team.users.assigned-roles.btn-action' | translate}}
                    </button>
                  </div>
                }
                @else {
                  <div class="flex justify-center pl-5">
                    <button    (click)="this.teamStore.toggleUserStatus(user)"
                             class="text-gray-400 bg-gray-100 font-medium text-sm px-3 py-1 rounded-md cursor-pointer"
                    >
                      {{'team.users.assigned-roles.btn-action-done' | translate}}
                    </button>
                  </div>
                }



              </div>
            }
            @empty {
              <div class="text-center py-8 text-gray-500">
                {{ 'team.users.assigned-roles.no-user-found' | translate }} "{{ searchControl.value }}"
              </div>
            }
          </div>
        </div>

        <div class="text-xs text-gray-400 mt-4 text-right">
           {{ teamStore.filteredUsers().length }} / {{ teamStore.teamUsers().length }} {{'team.users.assigned-roles.user-count' | translate}}
        </div>
      </div>

      <div class="info-dic flex-1 shadow-md/20 p-7">
        <h2 class="text-2xl font-medium">{{'team.users.role-dictionary.title' | translate}}</h2>

        <div class="py-6 flex flex-col gap-y-2">
          <h2 class="text-lg font-medium">{{'team.users.role-dictionary.administrator' | translate}}</h2>
          <p class="text-(--color-neutral-border) font-medium text-base/7">{{'team.users.role-dictionary.administrator-description' | translate}}</p>
        </div>
        <div class="py-6 flex flex-col gap-y-2">
          <h2 class="text-lg font-medium">{{'team.users.role-dictionary.manager' | translate}}</h2>
          <p class="text-(--color-neutral-border) font-medium text-base/7">{{'team.users.role-dictionary.manager-description' | translate}}</p>
        </div>
        <div class="py-6 flex flex-col gap-y-2">
          <h2 class="text-lg font-medium">{{'team.users.role-dictionary.logistics' | translate}}</h2>
          <p class="text-(--color-neutral-border) font-medium text-base/7">{{'team.users.role-dictionary.logistics-description' | translate}}</p>
        </div>

        <div class="py-6 flex flex-col gap-y-2 bg-(--color-info-soft) p-5 border rounded-md">
          <h2 class="text-lg font-medium">{{'team.users.role-dictionary.client' | translate}}</h2>
          <p class="text-base/7">{{'team.users.role-dictionary.client-description-1' | translate}}
            <b>{{'team.users.role-dictionary.client-description-bold' | translate}}</b>
            {{'team.users.role-dictionary.client-description-2' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
