<h2 mat-dialog-title class="font-bold text-xl mb-4">{{ 'projects_dashboard.change_status_title' | translate }}</h2>

<mat-dialog-content>
  <p class="text-sm text-gray-500 mb-4">{{ 'projects_dashboard.change_status_desc' | translate:{name: data.project.name} }}</p>
  
  <form [formGroup]="statusForm" class="flex flex-col gap-4 mt-2">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'projects_dashboard.change_status_new_state' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option value="PLANNED">{{ 'projects_dashboard.status_planned' | translate }}</mat-option>
        <mat-option value="IN_PROGRESS">{{ 'projects_dashboard.status_in_progress' | translate }}</mat-option>
        <mat-option value="ON_HOLD">{{ 'projects_dashboard.status_on_hold' | translate }}</mat-option>
        <mat-option value="COMPLETED">{{ 'projects_dashboard.status_completed' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    @if (statusForm.get('status')?.value === 'ON_HOLD') {
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'projects_dashboard.change_status_justification' | translate }}</mat-label>
        <textarea matInput formControlName="statusJustification" rows="3" [placeholder]="'projects_dashboard.change_status_justification_placeholder' | translate"></textarea>
        @if (statusForm.get('statusJustification')?.hasError('required')) {
          <mat-error>{{ 'projects_dashboard.change_status_justification_error' | translate }}</mat-error>
        }
      </mat-form-field>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-4 pr-4">
  <button mat-stroked-button mat-dialog-close>{{ 'projects_dashboard.cancel' | translate }}</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="statusForm.invalid">
    {{ 'projects_dashboard.save' | translate }}
  </button>
</mat-dialog-actions>
