<div class="flex flex-col rounded-xl border border-(--color-neutral-border)!">

  <header
    class="px-8 py-6 flex flex-row items-center justify-between border-b rounded-t-xl!"
    [class]="
      data.status === 'APPROVED' ? 'bg-(--color-success-soft)! border-(--color-success)!' :
      data.status === 'PENDING' ? 'bg-(--color-warning-soft)! border-(--color-warning)!' :
      'bg-(--color-danger-soft)! border-(--color-danger)!'
    "
  >
    <div class="flex flex-col gap-2">
      <div class="flex flex-row items-center gap-3">
        <span class="text-2xl font-black text-(--color-primary)! tracking-tighter">#{{ data.id }}</span>
        <div class="flex gap-2">
          <span
            class="px-3 py-1 rounded-full text-[10px] font-black uppercase tracking-widest border"
            [class]="
              data.status === 'APPROVED' ? 'bg-(--color-success-soft)! text-(--color-success)! border-(--color-success)!' :
              data.status === 'PENDING' ? 'bg-(--color-warning-soft)! text-(--color-warning)! border-(--color-warning)!' :
              'bg-(--color-danger-soft)! text-(--color-danger)! border-(--color-danger)!'
            "
          >
            {{ data.status === 'APPROVED' ? ('request.card.status.approved' | translate) :
            data.status === 'PENDING' ? ('request.card.status.pending' | translate) : ('request.card.status.refused' | translate) }}
          </span>
          <span
            class="px-3 py-1 rounded-full text-[10px] uppercase tracking-widest border font-bold"
            [class]="
              data.priority === 'CRITICAL' ? 'bg-(--color-danger)! text-(--color-danger-soft)! border-(--color-danger)!' :
              data.priority === 'HIGH' ? 'bg-(--color-warning)! text-(--color-neutral-bg)! border-(--color-warning)!' :
              'bg-(--color-neutral-border)! text-(--color-text-main)! border-(--color-neutral-border)!'
            "
          >
            {{ 'request.create.priority.' + data.priority.toLowerCase() | translate }}
          </span>
        </div>
      </div>
      <span class="text-xs text-(--color-text-main)! font-semibold flex items-center gap-1 opacity-70">
        <mat-icon class="!w-4 !h-4 !text-base">event</mat-icon>
        {{ 'request.card.header.request-date' | translate }} {{ data.requestDate }}
      </span>
    </div>

    @if (remainingDays() <= 3 && remainingDays() > 0) {
      <div class="flex items-center gap-2 bg-white text-(--color-warning)! px-3 py-1.5 rounded-lg border border-(--color-warning)!">
        <mat-icon class="text-(--color-warning)! !w-5 !h-5 !text-xl">timer</mat-icon>
        <span class="text-xs font-black italic">{{ 'request.detail.remaining-days' | translate: { days: remainingDays() } }}</span>
      </div>
    }
  </header>

  <mat-dialog-content class="!p-8 !m-0 flex flex-col gap-8 bg-white overflow-y-auto max-h-[70vh]">

    <section class="flex flex-col gap-4">
      <h3 class="text-[10px] font-black text-(--color-neutral-border)! uppercase tracking-widest border-b pb-2">{{ 'request.detail.section.material-info' | translate }}</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="p-6 border border-(--color-neutral-border)! rounded-xl flex items-center gap-4">
          <div class="p-3 bg-(--color-neutral-bg)! rounded-lg">
            <mat-icon class="text-(--color-accent)! !w-6 !h-6 !text-2xl">inventory_2</mat-icon>
          </div>
          <div class="flex flex-col">
            <span class="text-xs text-(--color-neutral-border)! font-bold uppercase tracking-tighter">{{ 'request.card.fields.material' | translate }}</span>
            <span class="text-lg font-black text-(--color-primary)! leading-tight">{{ data.items[0]?.materialName || '-' }}</span>
            <span class="text-xs text-(--color-text-main)! opacity-60">{{ data.items[0]?.categoryName }}</span>
          </div>
        </div>

        <div class="p-6 border border-(--color-neutral-border)! rounded-xl flex items-center gap-4">
          <div class="p-3 bg-(--color-neutral-bg)! rounded-lg">
            <mat-icon class="text-(--color-accent)! !w-6 !h-6 !text-2xl">shopping_cart</mat-icon>
          </div>
          <div class="flex flex-col">
            <span class="text-xs text-(--color-neutral-border)! font-bold uppercase tracking-tighter">{{ 'request.create.fields.quantity' | translate }}</span>
            <span class="text-lg font-black text-(--color-primary)!">{{ data.items[0]?.quantity }} {{ data.items[0]?.materialUnit }}</span>
            <span class="text-xs text-(--color-text-main)! opacity-60">S/ {{ data.items[0]?.pricePerUnit | number }} {{ 'request.detail.per-unit' | translate }}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-4 mt-m mb-m">
      <h3 class="text-[10px] font-black text-(--color-neutral-border)! uppercase tracking-widest border-b pb-2">{{ 'request.detail.section.logistics' | translate }}</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-1">
          <span class="text-[10px] font-bold text-(--color-neutral-border)! uppercase tracking-wider">{{ 'request.card.fields.requester' | translate }}</span>
          <span class="text-base font-bold text-(--color-primary)!">{{ data.requestedBy }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-[10px] font-bold text-(--color-neutral-border)! uppercase tracking-wider">{{ 'request.create.fields.delivery-location' | translate }}</span>
          <span class="text-base font-bold text-(--color-primary)!">{{ data.deliveryLocation || '-' }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-[10px] font-bold text-(--color-neutral-border)! uppercase tracking-wider">{{ 'request.card.fields.required-date' | translate }}</span>
          <span class="text-base font-bold text-(--color-primary)!">{{ data.deadline | date: 'yyyy-MM-dd'}}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-[10px] font-bold text-(--color-neutral-border)! uppercase tracking-wider">{{ 'request.card.fields.budget-line' | translate }}</span>
          <span class="text-base font-bold text-(--color-primary)!">{{ data.activity }}</span>
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-6 bg-(--color-neutral-bg)! p-6 rounded-xl border border-(--color-neutral-border)! mb-m">
      <div class="flex flex-col gap-2">
        <h3 class="text-[10px] font-black text-(--color-neutral-border)! uppercase tracking-widest">{{ 'request.card.purpose.title' | translate }}</h3>
        <p class="text-sm text-(--color-text-main)! leading-relaxed italic">"{{ data.purpose || '-' }}"</p>
      </div>
      @if (data.additionalNotes) {
        <div class="flex flex-col gap-2 border-t border-(--color-neutral-border)! pt-4">
          <h3 class="text-[10px] font-black text-(--color-neutral-border)! uppercase tracking-widest">{{ 'request.create.fields.additional-notes' | translate }}</h3>
          <p class="text-sm text-(--color-text-main)! opacity-80">{{ data.additionalNotes }}</p>
        </div>
      }
    </section>

    <section>
      <div class="bg-(--color-primary)! rounded-xl p-8 flex flex-row justify-between items-center">
        <div class="flex flex-col gap-1">
          <span class="text-[10px] text-(--color-neutral-border)! uppercase font-black tracking-widest">{{ 'request.detail.total-investment' | translate }}</span>
          <div class="flex items-baseline gap-2">
            <span class="text-xs text-(--color-success)! font-bold">S/</span>
            <span class="text-4xl font-black text-white tracking-tighter">{{ totalRequested() | number }}</span>
          </div>
        </div>

        <div class="px-4 py-2 bg-(--color-success-soft)! border border-(--color-success)! rounded-lg flex items-center justify-center">
          <span class="text-(--color-success)! text-xs font-bold flex items-center gap-2 leading-none">
            <mat-icon class="!w-4 !h-4 !text-[16px] flex items-center justify-center">check_circle</mat-icon>
            {{ 'request.detail.budget-validated' | translate }}
          </span>
        </div>
      </div>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="px-8! py-6! bg-(--color-neutral-bg)! border-t border-(--color-neutral-border)! flex gap-3">
    @if (isLogistica() && data.status === 'PENDING') {
      <button
        mat-flat-button
        class="px-6! py-5! rounded-xl! font-bold! text-base! cursor-pointer transition-all hover:brightness-110 active:scale-95 flex items-center justify-center gap-2 !bg-red-500 !text-white"
        (click)="reject()"
        type="button"
      >
        <mat-icon>close</mat-icon>
        {{ 'request.detail.btn-reject' | translate }}
      </button>
      <button
        mat-flat-button
        class="px-6! py-5! rounded-xl! font-bold! text-base! cursor-pointer transition-all hover:brightness-110 active:scale-95 flex items-center justify-center gap-2 !bg-green-600 !text-white"
        (click)="accept()"
        type="button"
      >
        <mat-icon>check</mat-icon>
        {{ 'request.detail.btn-accept' | translate }}
      </button>
    }
    <button
      mat-flat-button
      class="w-60 bg-(--color-accent)! text-white! py-6! rounded-xl! font-bold! text-base! cursor-pointer transition-all hover:brightness-110 active:scale-95 flex items-center justify-center gap-2"
      (click)="close()"
      type="button"
    >
      {{ 'request.detail.btn-close' | translate }}
    </button>
  </mat-dialog-actions>
</div>
