@import "tailwindcss";

@theme {
  --color-primary: #2c3e50;
  --color-accent: #3498db;
  --color-text-main: #212529;
  --color-neutral-bg: #f8f9fa;
  --color-neutral-border: #b0bec5;

  --font-inter: "Inter", sans-serif;

  --transition-base: 150ms ease;
}

@layer base {
  body {
    @apply bg-[--color-neutral-bg] text-[--color-text-main] font-inter;
    margin: 0;
    padding: 0;
  }
}
